/**
*Estilos relacionados con las páginas a las que es posible acceder a partir de Mi Perfil
*Comidas, entrenamientos, mis entrenadores, editar perfil, mensajes, mis clientes, mis valoraciones...
*
**/
/*INICIO MENU PERFIL CLIENTE*/
div#contenido .submenu-perfil {
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

div#contenido .submenu-perfil .comidaentrena-all {
	width: 330px;
	height: 300px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}

div#contenido .submenu-perfil .comidaentrena-all:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

div#contenido .submenu-perfil .comidaentrena-all img{
	width: 220px;
	height: 200px;
}

div#contenido .submenu-perfil .comidaentrena-all a{
	font-weight: 500px;
	text-decoration: none;
	color: #3498db;
}

div#contenido .submenu-perfil .comidaentrena-all button[type="submit"]{
	text-decoration: none;
	border: 0;
	color: black;
	background-color: #f3f3f3;
	opacity: 1.5;
	margin-top: 20px;
	padding: 10px;
	width: 100%;
	font-size: 18px;
	font-weight: 600;
}

div#contenido .submenu-perfil .comidaentrena-all button[type="submit"]:hover{
	background-color: #f4ec1c;
}

/*FIN SUBMENU PERFIL*/

/*INICIO ESTILO MENSAJE/CHAT*/
div#contenido .chat-all {
	width: 50%;
	background-color:rgba(34,34,34,0.75);
	margin: 0 auto;
	padding: 20px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-webkit-border-radius: 12px;
	margin-bottom: 15px;
}

div#contenido .chat-all h4{
	text-align: center;
	font-size: 22px;
	background-color: #f3f3f3;
	border-radius: 5px;
	padding: 10px;
}

/*div#contenido .chat-all p {
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid silver;
	font-weight: bold;
}*/

input[type='text']{
	width: 30%;
	height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 5px;
}

div#contenido .chat-all textarea{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.yo, .el-otro{
	width: 50%;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
}

.yo {
	background: #9AD36B;
	text-align: right;
	display: inline-block;
	margin: 0 0 0 -10px;
}

.el-otro{
	background: #82C6E3;
	display: inline-block;
	text-align: left;
	margin: 0 0 0 -10px;
}

.los-dos{
	width: 100%;
	color: white;
	margin: 20px;
}

div#contenido .chat-all ul{
	list-style: none;
	display: flex;
	flex-direction: row;
}
div#contenido .chat-all ul li{
	padding: 10px;
}
/*FIN ESTILO MENSAJES/CHAT*/

/*COMUNES*/
div#contenido a, button[type="submit"]{
	cursor:pointer;
	text-decoration: none;
	border: 0;
	color: black;
	background-color: #f3f3f3;
	opacity: 1.5;
	margin-top: 20px;
	padding: 15px;
	width: 30%;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	text-align: center;
}

div#contenido a:hover, button[type="submit"]:hover{
	background: linear-gradient(#e9e174, #e3da0c);
}

.texto-chat {
	padding: 10px;
	font-size: 18px;
	color: white;
	font-weight: bold;
}

.varios{
	width: 100%;
	text-align: center;
	border-radius: 10px;
	background-color: #F3F3F3;
	margin: 20px 20px 20px;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 20px;
}

/*Boton personalizado para mis entrenadores*/
div#contenido .entrenadores-all a{
	display: block;
	width: 93%;
	background: linear-gradient(#FFBB33, #F8CC76);
	padding: 8px;
	margin: auto;
	border-radius: 0;
}

div#contenido .entrenadores-all a:hover{
	color: white;
}


div#contenido .tabla_comidas table
{
	border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
}

div#contenido .tabla_comidas td
{
	border: 1px solid black; 
}

div#contenido .centrado_comidas
{
	margin-left: 30%;
}

div#contenido .primer_parrafo
{
    margin-left: 15%;
    padding: 5px;
}


/*MI PERFIL*/
div#contenido .miPerfil {
	text-align: center;
	
}
div#contenido .miPerfil img{
	width:200px;
	height: 250px;   
	display: block;
	margin: auto;
	padding-bottom: 15px;
}

div#contenido .miPerfil h2.nombre {
	text-align: center;
	background-color: white;
	font-size: 40px;
	margin: auto;
	color: #3b3b3b;
	padding: 10px;
	position: relative;
}
div#contenido .miPerfil p.info {
	font-size: 22px;
	text-align: center;
	margin: 0;
}

div#contenido .miPerfil label.eti {
	padding-right: 250px;
	padding-left: 250px;
	background-color: #ffff40;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin: 0;
}
div#contenido .miPerfil h3.aviso{

	text-align: center;
	background-color: yellow;
	font-size: 20px;
	margin-top:10px;
	color: #3b3b3b;
	padding: 10px;
	position: relative;
}