.fotos {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    display: inline-table;
}

.fotos img {
        float: left;
        width :200px ;
        height:200px;
    }

.foto p{
    padding-bottom: 10px;
        padding-top: 10px;
}


#listafotos ul {
    list-style-type: none;
    text-align: center;
    display: inline
}