table{
	width: 95%;
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	margin-left: 27px;
	margin-bottom: 40px;
}

th, td{
	border: solid 2px blue;
	padding: 10px;
}

h1{
	float: left;
	margin-bottom: 0.83em;
	margin-left: 20px;
}

.gif{
	float: right;
	margin-right: 30px;
	width: 100px;
	height: 140px;
}

.fotos{
	width: 290px;
	height: 260px;
}