table{
	max-width: 100%;
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	margin-bottom: 100px;
}

th, td{
	border: solid 2px blue;
	padding: 10px;
}

h1{
	float: left;
}

.gif{
	float: right;
	width: 100px;
	height: 150px;

}

.fotos{
	width: 290px;
	height: 260px;
}
 p{
 	clear:both;
 }