table{
	max-width: 90%;
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	margin-bottom: 100px;
	margin-top: 22px;
	clear: both;
	float:left;
	min-width: auto;
}

th, td{
	border: solid 2px black;
	padding: 10px;
}

thead{
	background-color: #009999;
	color: white;
}

tr:hover td{
	background-color: #58B8C1;
	color:white;
}

.gif{
	float: right;
	width: 100px;
	height: 150px;

}

h1.tituloEntrenamiento{
	float: left;
	width: 80%;
	text-align: left;
}

.fotos{
	width: 290px;
	height: 260px;
}

p{
	clear: both;
}


 