/*
*Estilos para menús
*/
.menu ul {
	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	overflow: hidden;
	display: flex;
	list-style: none;
	flex-direction: row; /*Eje principal de momento no se usa*/
}

.menu ul ul {
	display: none;
}

.menu ul li {
	margin-left: 10px;
	padding: 0.2em;
}

.menu a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

.menu li a:hover{
	background: #e1d80d;
}

.menu ul li:hover ul{
	display: block;
	position: relative;
}

/*Menu dentro de mi Perfil*/
.menu-interno {
	background-color:rgba(34,34,34,0.75);
	margin-top: -16px;
}

.menu-interno ul {
	padding: 0;
	display: flex;
	list-style: none;
	flex-direction: row;
}

.menu-interno li a{
	display: block;
	padding: 25px 25px;
}

.menu-interno a{
	display: block;
	color: #fff;
	text-decoration: none;
}

.menu-interno li a:hover{
	color: #e1d80d;
}

.menu-interno li:hover{
	background: rgba(0,0,0,0.3);
}




/*ALGUNAS COSAS QUE ESTA BIEN PERO MUERE CON EL SUBMENU
div.menu ul li {
	background: #3b3b3b;
	color: #333;
	margin-left: 10px;
	font-size: 1em;
	padding: 1em;
	line-hight: 2;
	width: 180px;
	height: 25px;
	display: flex;
	justify-content: center;
}

div.menu li {
	float: left;
}

div.menu ul li:hover {
  background-color: #e1d80d;
}*/
