/**
*Estilos para formularios
*/

/*Formulario registro*/
.form-registro{
	max-width: 80%;
	height: auto;
	background-color: #F3F3F3;
	margin: 2% auto;
	padding-bottom: 1rem;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 30px;
	display: flex;
	flex-direction: column;
	/*margin: auto;
	width: 80%;
	background: #F3F3F3;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.2);*/
}
/*Formulario inicio de sesión*/
.form-inicio{
	width: 50%;
	max-width: 600px;
	height: auto;
	background-color: #F3F3F3;
	margin: 2% auto;
	padding-bottom: 1rem;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 30px;
	display: flex;
	flex-direction: column;
}

fieldset {
	width: 80%;
	margin: 0 auto;
	border: none;
}

fieldset .control {
	width: 100%;
}

fieldset .grupo-control {
	display: block;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

legend {
	color: black;
	padding: 2px 6px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

input {
	display: block;
	padding: 5px;
	width: 90%;
	margin: 20px 0;
	font-size: 18px;
}

select {
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}

span{
	display: block;
	position: relative;
}

.botones, .botones a{
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

label {
	padding: 10px;
}

button[type="submit"], button[type="reset"], .botones a{
	background: linear-gradient(#e9e174, #e3da0c); /*Degradado*/
	border: 0;
	color: black;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
	padding: 10px;
	width: 100%;
	margin: 15px 5px;
	font-size: 18px;
	font-weight: bold;
	transition: all 5%;
}

button[type="reset"]{
	background: linear-gradient(#FFBB33, #F8CC76);
}

button[type="submit"]:hover, .botones a:hover {
	opacity: 1;
}

button[type="reset"]:hover {
	opacity: 1;
}

.radio-button {
	display: flex;
	flex-direction: row;
}

.radio-button label{
	display: inline;
	padding: 15px;
	position: relative;
}

/*REVISAR RESPONSIVE*/
@media (max-width: 768px){
	div.form-registro {
		width: 75%;
	}
}

@media (max-width: 480px){
	div.form-registro {
		width: 95%;
	}
}